!!Xft.dpi: 		192
!!Xft.autohint: 	0
!!Xft.lcdfilter:  	lcddefault
Xft.hintstyle:  	hintlight
Xft.hinting: 		true
Xft.antialias: 		true
Xft.rgba: 		rgb

rofi.color-enabled: 	true
rofi.color-window: 	#273238, #273238, #1e2529
rofi.color-normal: 	#273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: 	#273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: 	#273238, #ff1844, #273238, #394249, #ff1844

URxvt.font: 		xft:Fira Mono for Powerline:style=Medium:size=11,xft:PowerlineSymbols:pixelsize=11,xft:Siji:size=20
URxvt.allow_bold:	true 

!! Fake transperancy
!!URxvt.transparent:	true
!!URxvt.shading:		25

!! True (composite) transperancy
URxvt.depth:		32
URxvt.background:	rgba:0000/0000/0200/c800

URxvt.scrollBar:	false
URxvt.perl-ext:		default,url-select,matcher
URxvt.saveLines:	5000
URxvt.cursorBlink:	true
URxvt.scrollWithBuffer:	false
URxvt.scrollTtyKeypress: true 

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2










































