!!Xft.dpi: 		192
!!Xft.autohint: 	0
!!Xft.lcdfilter:  	lcddefault
Xft.hintstyle:  	hintlight
Xft.hinting: 		true
Xft.antialias: 		true
Xft.rgba: 		rgb

! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #282828, #a89984, #a89984
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #CC282828, #ebdbb2, #32302f, #665c54, #fbf1c7
rofi.color-active: #CCd79921, #282828, #d79921, #fabd2f, #282828
rofi.color-urgent: #CCcc241d, #282828, #cc241d, #fb4934, #282828

rofi.opacity: 80
rofi.terminal: urxvt
rofi.run-shell-command: {terminal} -e {cmd}


URxvt.font: 		xft:Liberation\ Mono:size=12:antialias=true:autohint=true,xft:Inconsolata\ for\ Powerline:pixelsize=11,xft:Arimo\ for\ Powerline:size=12
!!URxvt.font          xft:Iosevka:style=Regular:size=11,xft:PowerlineSymbols:size=11
URxvt.letterSpace:  1
URxvt.allow_bold:	true 

!! Fake transperancy
!!URxvt.transparent:	true
!!URxvt.shading:		25

!! True (composite) transperancy
URxvt.depth:		32
URxvt.background:	rgba:0000/0000/0200/c800

URxvt.scrollBar:	false
URxvt.perl-ext:		default,url-select,matcher,resize-font
URxvt.saveLines:	5000
URxvt.cursorBlink:	true
URxvt.scrollWithBuffer:	false
URxvt.scrollTtyKeypress: true 
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true


! terminal colours
*foreground:#CCCCCC
*background:#1B1D1E

!black darkgray
*color0:    #1B1D1E
*color8:    #808080
!darkred red
*color1:    #FF0044
*color9:    #F92672
!darkgreen green
*color2:    #82B414
*color10:   #A6E22E
!darkyellow yellow
*color3:    #FD971F
*color11:   #E6DB74
!darkblue blue
*color4:    #266C98
*color12:   #7070F0
!darkmagenta magenta
*color5:    #AC0CB1
*color13:   #D63AE1
!darkcyan cyan
*color6:    #AE81FF
*color14:   #66D9EF
!gray white
*color7:    #CCCCCC
*color15:   #F8F8F2

